<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
</head>
<body>
  <h1>Values from Google Colab</h1>
  <div id="data-container"></div>

  <script>
        // Fetch data from /data route
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                // Display the data in the data-container div
                const dataContainer = document.getElementById('data-container');
                dataContainer.innerHTML = JSON.stringify(data);
            })
            .catch(error => {
                console.log('Error:', error);
            });
    </script>
</body>
</html>
