<!DOCTYPE html>
<html>
<head>
    <title>Button to Generate Image</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function generateImage() {
            $.ajax({
                url: "/generate_image",
                type: "POST",
                success: function(response) {
                    var image_data = response.image_data;

                    // Create an image element and set the source to the generated image
                    var img = new Image();
                    img.src = 'data:image/png;base64,' + image_data;

                    // Append the image to the body or any other HTML element
                    document.body.appendChild(img);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
    </script>
</head>
<body>
    <h1>Button to Generate Image</h1>
    <button onclick="generateImage()">Generate Image</button>
</body>
</html>
