<!DOCTYPE html>
<html>
<head>
<title>Face Animation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
background-image: url('{{ url_for("static", filename="bg.png") }}');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
#video {
      display: none;
      top: calc(700%- 480px); /* Adjust the value as needed */
      left: 0;
      z-index: -1;
    }

 .tab {
            display: none;
        }

        .tab.active {
            display: block;
        }

        .tab-buttons {
            margin-bottom: 10px;
        }

        .tab-buttons button {
            background-color: #f1f1f1;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 20px;
        }

        .tab-buttons button:hover {
            background-color: #ddd;
        }
		
.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon-container a {
    margin: 0 10px;
}

.icon-container img {
    width: 50px;
    height: 50px;
}

		
	

</style>
</head>
<body>
 <div class="bgimg w3-display-container w3-animate-opacity w3-text-white"
		 class="w3-display-topleft w3-padding-large w3-xlarge">
 <div class="tab-buttons">
        <button id="tab1-button" class="tab-button active" onclick="openTab('tab1')">HOME</button>
		<button id="tab2-button" class="tab-button" onclick="openTab('tab2')">GENERATE</button>
		<button id="tab3-button" class="tab-button" onclick="openTab('tab3')">Upload Photo</button>
		<button id="tab6-button" class="tab-button" onclick="openTab('tab6')">Take Photo</button>
		<button id="tab4-button" class="tab-button" onclick="openTab('tab4')">Socials</button>
		<button id="tab5-button" class="tab-button" onclick="openTab('tab5')">Male to Female Swap</button>
		<button id="tab7-button" class="tab-button" onclick="openTab('tab7')">Female to Male Swap</button>
    </div>
<div id="tab1" class="tab active">      
    <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">4 Big Men</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">Today</p>
       </div>
  </div>
<div id="tab2" class="tab">
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">4 Big Men</h1>
		<hr class="w3-border-grey" style="margin:auto;width:40%">
		<button onclick="generateImage()">Generate Image</button>
		<div id="image-holder"></div>
    </div>
</div>
<div id="tab3" class="tab">
    <div class="w3-display-middle">
        <h1>Image Upload</h1>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="image-input" accept="image/*">
            <button type="button" onclick="convertImage()">Select</button>
            <button type="button" onclick="uploadImage()">Upload</button>
        </form>
        <div id="image-container"></div>
        <br>
        <img id="originalImage" src="#" alt="Original Image" style="max-width: 300px; max-height: 300px;">
       
        <br>
        
    </div>
</div>

<div id="tab4" class="tab">
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">4 Big Men</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <div class="icon-container">
        <a href="https://www.Facebook.com">
			<img src="{{ url_for('static', filename='fb.png') }}" alt="Icon 1">
		</a>            
		<a href="https://www.instagram.com">
			<img src="{{ url_for('static', filename='ig.png') }}" alt="Icon 2">
		</a>
		<a href="https://www.twitter.com">
			<img src="{{ url_for('static', filename='tweet.png') }}" alt="Icon 3">
		</a>
		<a href="https://www.tiktok.com">
			<img src="{{ url_for('static', filename='tiktok.png') }}" alt="Icon 4">
		</a>
        </div>
    </div>
</div>
<div id="tab5" class="tab">
    <div class="w3-display-middle">
         <form id="uploadForm" action="/process" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Process Image</button>
    </form>
    <div>
        <h2>Processed Image</h2>
        <img id="processedImage" src="" alt="Processed Image">
		 <a id="downloadBtn" href="#" download="processed_image.png">Download</a>
    </div>
  
    </div>
</div>

<div id="tab7" class="tab">
    <div class="w3-display-middle">
         <form id="fuploadForm" action="/fprocess" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Process Image</button>
    </form>
    <div>
        <h2>Processed Image</h2>
        <img id="fprocessedImage" src="" alt="fProcessed Image">
		<a id="fdownloadBtn" href="#" download="fprocessed_image.png">Download</a>
    
    </div>
  
    </div>
</div>

<div id="tab6" class="tab">
    <div class="w3-display-middle">
	 <button id="toggle-video-btn">Show/Hide Video</button>
         <video id="video" width="640" height="480" autoplay></video>
        <button id="capture-btn">Capture</button>
        <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
        <button id="convertButton">Convert</button>
        <button id="download-btn" download="captured_image.png" style="display: none;">Download</button>
		<img id="photo" src="" alt="Captured Image">
    </div>
</div>


		
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var photo = document.getElementById('photo');
    var toggleVideoButton = document.getElementById('toggle-video-btn');
    var captureButton = document.getElementById('capture-btn');
    var convertButton = document.getElementById('convertButton');
    var videoVisible = false;
    var stream = null;
    var downloadBtn = document.getElementById('download-btn');

    // Toggle video button click event
toggleVideoButton.addEventListener('click', function() {
    if (videoVisible) {
        video.style.display = 'none';
        toggleVideoButton.textContent = 'Show Video';
        stopVideoStream();
        removeCapturedImage();
    } else {
        video.style.display = 'block';
        toggleVideoButton.textContent = 'Hide Video';
        startVideoStream();
    }

    videoVisible = !videoVisible;
});

// Function to remove captured image
function removeCapturedImage() {
    photo.src = ''; // Clear the captured image source
}


  // Capture button click event
captureButton.addEventListener('click', function() {
    // Draw the current video frame on the canvas
    context.drawImage(video, 0, 0, canvas.width, canvas.height);

    // Convert the canvas content to base64 data URL
    var dataURL = canvas.toDataURL('image/png');

    // Set the captured image as the source of the <img> element
    photo.src = dataURL;

    // Show the download button
    downloadBtn.style.display = 'inline-block';

    // Hide the video
    video.style.display = 'none';
    toggleVideoButton.textContent = 'Retake';
    toggleVideoButton.disabled = false; // Enable the toggle video button
});



   // Download button click event
downloadBtn.addEventListener('click', function() {
    // Get the converted image data URL
    var convertedImage = photo.src;

    // Create a temporary anchor element to initiate the download
    var link = document.createElement('a');
    link.href = convertedImage;
    link.download = 'converted_image.png';
    link.click();
});


    // Convert button click event
convertButton.addEventListener('click', function() {
    // Draw the current image frame on the canvas
    context.drawImage(photo, 0, 0, canvas.width, canvas.height);

    // Convert the canvas content to a Blob object
    canvas.toBlob(function(blob) {
        // Create a FormData object to send the blob data
        var formData = new FormData();
        formData.append('imageData', blob, 'image.png');

        // Send the captured image to the server for processing
        fetch('/process_image', {
            method: 'POST',
            body: formData,
        })
        .then(function(response) {
            // Handle the server response
            if (response.ok) {
                return response.text();
            } else {
                throw new Error('Error processing image: ' + response.statusText);
            }
        })
        .then(function(processedData) {
            console.log('Received processed image data:', processedData);

            // Set the processed image as the source of the <img> element
            photo.src = 'data:image/png;base64,' + processedData;

            // Show the download button
            downloadBtn.style.display = 'inline-block';
        })
        .catch(function(error) {
            console.error(error);
        });
    }, 'image/png');
});


    function startVideoStream() {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(mediaStream) {
                video.srcObject = mediaStream;
                stream = mediaStream;
            })
            .catch(function(error) {
                console.log('Error accessing the webcam: ', error);
            });
    }

    function stopVideoStream() {
        if (stream) {
            var tracks = stream.getVideoTracks();
            tracks.forEach(function(track) {
                track.stop();
            });
        }
    }

    function uploadImage() {
        var formData = new FormData();
        var imageFile = document.getElementById("image-input").files[0];
        formData.append("image", imageFile);

        // Make an AJAX request to the server to upload the image
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload");
        xhr.onload = function() {
            if (xhr.status === 200) {
                var imageUrl = xhr.responseText;
                displayImage(imageUrl);
            } else {
                console.error("Error uploading image: " + xhr.status);
            }
        };
        xhr.send(formData);
    }

  $(document).ready(function() {
    $('#uploadForm').submit(function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: '/process',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.status === 'success') {
                    var imageSrc = 'data:image/png;base64,' + response.predicted_image;
                    $('#processedImage').attr('src', imageSrc);
                    $('#processedImage').css('width', '250px');
                    $('#processedImage').css('height', 'auto');
                } else {
                    console.log('Image processing failed:', response.message);
                }
            },
            error: function(xhr, status, error) {
                console.log('Image processing error:', error);
            }
        });
    });

    // Attach download button functionality outside the submit event handler
    $('#downloadBtn').click(function() {
        var imageSrc = $('#processedImage').attr('src');
        var downloadLink = document.createElement('a');
        downloadLink.href = imageSrc;
        downloadLink.download = 'processed_image.png';
        downloadLink.click();
    });
});



$(document).ready(function() {
    $('#fuploadForm').submit(function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: '/process',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.status === 'success') {
                    var imageSrc = 'data:image/png;base64,' + response.predicted_image;
                    $('#fprocessedImage').attr('src', imageSrc);
                    $('#fprocessedImage').css('width', '250px');
                    $('#fprocessedImage').css('height', 'auto');
                } else {
                    console.log('Image processing failed:', response.message);
                }
            },
            error: function(xhr, status, error) {
                console.log('Image processing error:', error);
            }
        });
    });

    // Attach download button functionality outside the submit event handler
    $('#fdownloadBtn').click(function() {
        var imageSrc = $('#fprocessedImage').attr('src');
        var downloadLink = document.createElement('a');
        downloadLink.href = imageSrc;
        downloadLink.download = 'fprocessed_image.png';
        downloadLink.click();
    });
});




    function convertImage() {
        var inputElement = document.getElementById('image-input');
        var file = inputElement.files[0];
        var reader = new FileReader();

        reader.onload = function(e) {
            var originalImage = document.getElementById('photo');
            originalImage.src = e.target.result;
        };

        reader.readAsDataURL(file);
    }

    function displayImage(imageUrl) {
        var imageElement = document.createElement("img");
        imageElement.src = imageUrl;
        document.getElementById("image-container").appendChild(imageElement);
    }

    function generateImage() {
    $.ajax({
        url: "/generate_image",
        type: "POST",
        success: function(response) {
            var image_data = response.image_data;

            // Create an image element and set the source to the generated image
            var img = new Image();
            img.src = 'data:image/png;base64,' + image_data;

            // Get the image holder element
            var imageHolder = document.getElementById('image-holder');

            // Clear the existing content in the image holder
            imageHolder.innerHTML = '';

            // Apply CSS styles to make the image larger
            img.style.width = '250px';
            img.style.height = 'auto';

            // Append the image to the image holder
            imageHolder.appendChild(img);
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}



    function openTab(tabName) {
                var tabContent = document.getElementsByClassName('tab');
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].classList.remove('active');
        }

        var tabButton = document.getElementsByClassName('tab-button');
        for (i = 0; i < tabButton.length; i++) {
            tabButton[i].classList.remove('active');
        }

        document.getElementById(tabName).classList.add('active');
        document.getElementById(tabName + '-button').classList.add('active');
    }
	
	document.getElementById("uploadForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent form submission

            var formData = new FormData();
            var fileInput = document.getElementById("imageInput");
            formData.append("imageData", fileInput.files[0]);

            fetch("/gender_change", {
                method: "POST",
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                // Create an image element and set the source to the transformed image
                var img = new Image();
                img.src = "data:image/png;base64," + data;

                // Append the image to the result container
                var resultContainer = document.getElementById("resultContainer");
                resultContainer.innerHTML = '';
                resultContainer.appendChild(img);
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
</script>


</body>
</html>
